    {% extends "base.html" %}
{% block start %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/content.css' %}">
     {% for post in posts %}

         <div style="border:solid 1px #d9d9d9; padding:4px;
                  margin:10px;
                font-size:15px;
                text-align:center;
                 border-radius:10px;" class="mater">

         <h1><a href="{% url 'post_detail' post.slug %}" > {{ post.title }} </a> </h1>
            <img src="{{ post.image.url }}" alt="connect" style="max-height:300px; max-width: 300px"/>
            <h3>
                Novel by {{ post.author }}
            </h3>
             <p>
                {{ post.body|truncatewords:25|linebreaks }}
            </p>
        </div>

     {% endfor %}

    {% include 'paginator.html' with posts=posts %}

{% endblock %}